@charset "UTF-8";
@import url("header-PFR.css");
@import url("main-PFR.css");
@import url("style-GST.css");


*{
  font-family: "Poppins", sans-serif;
}

body{
  margin: 0px;
  padding: 0px;
  background: linear-gradient(170deg, #bf2633, #f29f05, #f28705, #f24405, #000000) fixed ;
}

a{
  color: rgb(14, 14, 14);
  text-decoration: none;
}

h1, h2, h3, p{
  margin: 0px;
  padding: 0px;
}

img{
  display: block;
  height: 100%;
  max-width: 100%;
}

ul{
  padding: 0px;
  margin: 0px;
}

li{
  list-style-type: none;
}


 

 /* Inicialmente oculto */
#sobreposicao-popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

#conteudo-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

#fechar-popup {
  border: none;
  width: 82px;
  height: 40px;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
  background-color: #007bff;
  font-size: 20px;
}

    
footer {
  margin-top: 130px;
  padding: 10px;
  background-color: #161616;
  text-align: center;
  color: white;
}


.nomes-grupos{ 
  display: flex;
  justify-content: center; 
  margin-top: 16px;
}

.vertical{
  height: 200px;
  border-left: 2px solid; 
}

.back{
width: 200px;

}
.front{
  width: 200px;

}
.bd{
  width: 200px;

}

.creditos {
  margin-bottom: 10px;
}
.creditos p{
  margin-bottom: 1px;
}

.informacoes-escola p{
 margin-bottom: 7px;
}
.instagram-links{ 
display: flex;
margin: 0 auto; 
width: 190px;

  }
.tecnico-sala{
  display: flex;
  flex-direction:row;
  align-items: center; 
  text-align: center;
  width: 100px;
  
}
.escola-insta{
  display: flex;
  flex-direction:row;
  align-items: center; 
  text-align: center;
  width: 90px;
  
}
 
.informacoes-escola img {
  width: 20px;
  margin: 0 5px;
}

.informacoes-escola a {
  text-decoration: none;
  color: #919191;
  margin: 0 5px;
}

.linha-horizontal {
  border: 1px solid #ccc;
  margin: 10px 0;
}

