@charset "UTF-8";

* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(170deg, #bf2633, #f29f05, #f28705, #f24405, #000000) fixed ;
  background-repeat: no-repeat;
  background-position: center;
  
  
}

h1, h2, h3, p{
  margin: 0px;
  padding: 0px;
}

img {
  display: block;
  margin: 0px;
  height: 100%;
}

a{
  color: black;
  text-decoration: none;
  font-size: 18pt;
}

button {
  margin-top: 20px;
}

/* header */

.header{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 10px 30px;
  max-width: 1300px;
} 

.header .brazao img{
  width: 70px;
  height: 100px;
}


.header .header-user{
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 1.9rem;
  
}

.header .nome{
  color: #e0e0e0;  
  text-align: right;
}

.user{
  width: 110px;
  height: 60px;
}


/* main */

.eletiva-bg{
  margin-top: 30px;
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 50px;
  align-items: center;
  place-content: space-around;
  padding-left: 50px;
  padding-right: 50px;
}

.eletiva-bg .eletivas {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.botao{
 
  display: block;
  padding: 10px 15px;
  border: 1px solid #ffbb01;
  background-image: linear-gradient(to bottom, #FFB00D, #FF770D);
  color: rgb(0, 0, 0);
  box-shadow: 0px 0px 3px #ffa601;
  font-size: 1.3rem;
  border-radius: 8px;
  font-weight: 500;
}


.nada{
  background-color: #ffffff82;
  padding: 12px;
  border-radius: 10px; 
  text-align: center;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.226); 
  width: 350px;
  margin: 0 auto;
}

.botao:hover{
  background-image: linear-gradient(to bottom, #e0990b, #e0670b);
  box-shadow: 0px 0px 3px #ffa601;
  cursor: pointer;
}

.eletivas{
  background-color: #ffffff82;
  padding: 12px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.226);
}

.eletivas .user{
  width: 90px;
  height: 90px;
}

.eletivas span{
  margin-top: 10px;
  font-size: 1.5rem;
  font-weight: 500;
  display: grid;
  text-align: center;
}

@media(max-width: 1100px){

  .eletiva-bg{
    grid-template-columns: 1fr 1fr 1fr;
  }

  .user a{
    font-size: 1.5rem;
  }
} 

@media (max-width: 800px){

 .eletiva-bg {
  margin-top: 30px;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  padding-left: 30px;
  padding-right: 30px;
 }
 .header-user .nome{
  font-size: 1.5rem;
 }
}

@media (max-width: 600px){

  .header .header-user img{
    display: none;
  }
  
  .header-user .nome{
    font-size: 1.2rem;
   }

   .eletivas span{
    font-size: 1.3rem;
   }

}

@media (max-width: 500px){


  .eletiva-bg{
    grid-template-columns: 1fr;
  }
}

.nome-eletiva{
  margin: 0px;
}

.botao-excluir{
  text-align: center;
  display: block;
  padding: 10px 15px;
  background-image: linear-gradient(to bottom, #ff7a0d, #f74803, #db0303);
    font-size: 1.3rem;
    border: 1px solid #000000;
    box-shadow: 2px 2px 5px rgba(81, 0, 0, 0.568);
    border-radius: 8px;                                                       
  border-radius: 8px;
  font-size: 1.3rem;
  font-weight: 500;
}

.botao-excluir:hover{
  cursor: pointer;
  background-image: linear-gradient(to bottom, #cb620b, #b13200, #9a0000);
  box-shadow: 2px 2px 5px rgba(81, 0, 0, 0.568);
}
.botao-excluir,
.botao{
  cursor: pointer;
}



/* Estilos do pop-up */
#sobreposicao-popup {
  display: none;
  /* Inicialmente oculto */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

#conteudo-popup {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

#fechar-popup {
  max-width: max-content;
  margin: 20px;
  padding: 10px 20px;
  font-size: 1.3rem;
  border-radius: 10px;
  border: 1px solid #ffbb01;
  background-image: linear-gradient(to bottom, #FFB00D, #FF770D);
  color: rgb(0, 0, 0);
}
#fechar-popup:hover{
  border: 1px solid #d19900;
  background-image: linear-gradient(to bottom, #cf8e0c, #cf600b);
  color: rgb(0, 0, 0);
}


/* Estilos do pop-up */
#sobreposicao-popup2 {
  display: none;
  /* Inicialmente oculto */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

#conteudo-popup2 {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

#fechar-popup2 {
  max-width: max-content;
  margin: 20px;
  padding: 10px 20px;
  font-size: 1.3rem;
  border-radius: 10px;
  border: 1px solid #ffbb01;
  background-image: linear-gradient(to bottom, #FFB00D, #FF770D);
  color: rgb(0, 0, 0);
}
#fechar-popup:hover{
  border: 1px solid #d19900;
  background-image: linear-gradient(to bottom, #cf8e0c, #cf600b);
  color: rgb(0, 0, 0);
}


/* Estilos do pop-up */
#sobreposicao-popup3 {
  display: none;
  /* Inicialmente oculto */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

#conteudo-popup3 {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

#fechar-popup3 {
  max-width: max-content;
  margin: 20px;
  padding: 10px 20px;
  font-size: 1.3rem;
  border-radius: 10px;
  border: 1px solid #ffbb01;
  background-image: linear-gradient(to bottom, #FFB00D, #FF770D);
  color: rgb(0, 0, 0);
}
#fechar-popup3:hover{
  border: 1px solid #d19900;
  background-image: linear-gradient(to bottom, #cf8e0c, #cf600b);
  color: rgb(0, 0, 0);
}

.title-eletiva{
  background-color: #ffffff82;
  width: 400px;
  padding: 12px;
  border-radius: 10px;
  text-align: center;
  margin: 0 auto;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.226);
}

    
footer {
  margin-top: 130px;
  padding: 10px;
  background-color: #161616;
  text-align: center;
  color: white;
}


.nomes-grupos{ 
  display: flex;
  justify-content: center; 
  margin-top: 16px;
}

.vertical{
  height: 200px;
  border-left: 2px solid; 
}

.back{
width: 200px;

}
.front{
  width: 200px;

}
.bd{
  width: 200px;

}

.creditos {
  margin-bottom: 10px;
}
.creditos p{
  margin-bottom: 1px;
}

.informacoes-escola p{
 margin-bottom: 7px;
}
.instagram-links{ 
display: flex;
margin: 0 auto; 
width: 190px;

  }
.tecnico-sala{
  display: flex;
  flex-direction:row;
  align-items: center; 
  text-align: center;
  width: 100px;
  
}
.escola-insta{
  display: flex;
  flex-direction:row;
  align-items: center; 
  text-align: center;
  width: 90px;
  
}
 
.informacoes-escola img {
  width: 20px;
  margin: 0 5px;
}

.informacoes-escola a {
  text-decoration: none;
  color: #919191;
  margin: 0 5px;
}

.linha-horizontal {
  border: 1px solid #ccc;
  margin: 10px 0;
}