@charset "UTF-8";
@import url("botao.css");

*{
  font-family: Arial, Helvetica, sans-serif;
}

body{
  margin: 0px;
  padding: 0px;
  background: linear-gradient(170deg, #bf2633, #f29f05, #f28705, #f24405, #000000) fixed ;
}

a{
  color: rgb(14, 14, 14);
  text-decoration: none;
}

h1, h2, h3, p{
  margin: 0px;
  padding: 0px;
}

img{
  display: block;
  height: 100%;
  max-width: 100%;
}

/* header */

.header{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 10px 30px;
  max-width: 1300px;
} 

.header-menu{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  }

.header-brazao{
  width: 70px;
  height: 100px;
}

.user{
  width: 110px;
  height: 60px;
}

.header .nome{
  font-size: 1.5rem;
  color: #e0e0e0;
}

/* main */ 

.main-caixa{
  place-content: center;
  margin-top: 90px;
  margin-bottom: 60px;
  display: flex;
  flex-wrap: wrap;
  place-items: center;
  gap: 50px;
}

.main-caixa a{
  padding: 40px 60px;
  background-color: #ffffff31;
  border-radius: 10px;
  border: 1px solid rgba(152, 152, 152, 0.203);
  font-size: 3.5rem;
  text-transform: uppercase;
}

.main-caixa a:hover{
  background:linear-gradient(315deg, #a15304 10%, #aca40be9 90%);
  color: #000000;
}

.main-caixa button[type="submit"]{
  padding: 40px 60px;
  background-color: #ffffff31;
  border-radius: 10px;
  border: 1px solid rgba(152, 152, 152, 0.203);
  font-size: 3.5rem;
  text-transform: uppercase;
}

.main-caixa button[type="submit"]:hover{
  background:linear-gradient(315deg, #a15304 10%, #aca40be9 90%);
  color: #000000;
  cursor: pointer;
}

@media(max-width: 800px){
  
  .main-caixa{
   margin-top: 150px;
   margin-bottom: 50px;
  }
  
  .main-caixa a{
    padding: 40px 60px;
    font-size: 3rem;
  }

  .main-caixa button[type="submit"]{
    padding: 40px 60px;
    font-size: 3rem;
  }
 

@media (max-width: 731px){
  .main-caixa{
    margin-top: 80px;
    margin-bottom: 50px;
   }
}


@media (max-width: 600px){
  .header .user{
    display: none;
  }

  .header .nome{
    font-size: 1.2rem;
  }
    
  }

  .main-caixa a{
    padding: 40px 50px;
    font-size: 2.8rem;
  }
  .main-caixa button[type="submit"]{
    padding: 40px 50px;
    font-size: 2.8rem;
  }
}

@media (max-width: 450px){
 .main-caixa{
  margin-top: 80px;
 }
}

    
footer {
  margin-top: 130px;
  padding: 10px;
  background-color: #161616;
  text-align: center;
  color: white;
}


.nomes-grupos{ 
  display: flex;
  justify-content: center; 
  margin-top: 16px;
}

.vertical{
  height: 200px;
  border-left: 2px solid; 
}

.back{
width: 200px;

}
.front{
  width: 200px;

}
.bd{
  width: 200px;

}

.creditos {
  margin-bottom: 10px;
}
.creditos p{
  margin-bottom: 1px;
}

.informacoes-escola p{
 margin-bottom: 7px;
}
.instagram-links{ 
display: flex;
margin: 0 auto; 
width: 190px;

  }
.tecnico-sala{
  display: flex;
  flex-direction:row;
  align-items: center; 
  text-align: center;
  width: 100px;
  
}
.escola-insta{
  display: flex;
  flex-direction:row;
  align-items: center; 
  text-align: center;
  width: 90px;
  
}
 
.informacoes-escola img {
  width: 20px;
  margin: 0 5px;
}

.informacoes-escola a {
  text-decoration: none;
  color: #919191;
  margin: 0 5px;
}

.linha-horizontal {
  border: 1px solid #ccc;
  margin: 10px 0;
}