
hr{
  border: 1px solid black;
 }

 
.alunos { 
  background-color: rgba(255, 255, 255, 0.467);
  padding: 15px 20px;
  border-radius: 10px;
  max-width: 600px;
  width: auto;
  text-align: center;
  margin-left: auto;
  font-family:'Poppins', sans-serif;
  margin-right: auto;
  margin-top: 30px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.441); 
}

.alunos h1{
  font-size: 2rem;
 font-family: 'Poppins';
 font-weight: 500;
}
.tabela{

  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;

}

.tabela .titulo-tab th{
  height: 60px;
  text-align: center;
}

.export{
  text-align: center;
  display: block;
  padding: 20px 25px;
  background-image: linear-gradient(to bottom, #3eff03, #006a13);
  font-size: 1.3rem;
  border: 1px solid #000000;
  font-size: 1.3rem;
  border-radius: 8px;
  box-shadow: 2px 2px 5px rgba(16, 96, 0, 0.627);
  font-weight: 500;
  margin: 20px auto;
}

.export:hover{
  cursor: pointer;
  background-image: linear-gradient(to bottom, #32d400, #00480d);
  box-shadow: 3px 4px 10px rgba(16, 96, 0, 0.627);
}

table{
  margin: 0 auto;
}

    
footer {
  margin-top: 130px;
  padding: 10px;
  background-color: #161616;
  text-align: center;
  color: white;
}


.nomes-grupos{ 
  display: flex;
  justify-content: center; 
  margin-top: 16px;
}

.vertical{
  height: 200px;
  border-left: 2px solid; 
}

.back{
width: 200px;

}
.front{
  width: 200px;

}
.bd{
  width: 200px;

}

.creditos {
  margin-bottom: 10px;
}
.creditos p{
  margin-bottom: 1px;
}

.informacoes-escola p{
 margin-bottom: 7px;
}
.instagram-links{ 
display: flex;
margin: 0 auto; 
width: 190px;

  }
.tecnico-sala{
  display: flex;
  flex-direction:row;
  align-items: center; 
  text-align: center;
  width: 100px;
  
}
.escola-insta{
  display: flex;
  flex-direction:row;
  align-items: center; 
  text-align: center;
  width: 90px;
  
}
 
.informacoes-escola img {
  width: 20px;
  margin: 0 5px;
}

.informacoes-escola a {
  text-decoration: none;
  color: #919191;
  margin: 0 5px;
}

.linha-horizontal {
  border: 1px solid #ccc;
  margin: 10px 0;
}

 